{
  "env": {
    "browser": true,
    "es2017": true,
    "node": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["no-only-tests"],
  "rules": {
    "no-only-tests/no-only-tests": "error",
    "no-console": "error"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "prettier/@typescript-eslint"
      ],
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-floating-promises": "error",
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/require-await": "off",
        "@typescript-eslint/unbound-method": "off"
      }
    }
  ]
}
